
* {
  border: 1px solid red !important;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.article-media {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}
.article-media iframe {
  height: 375px;
  width: 100%;
}
.article-media img {
  height: auto;
  width: 100%;
}
.article-media p {
  font-size: 12px;
  line-height: 13px;
}
.article-media span {
  font-size: 10px;
  vertical-align: baseline;
}
.article-section {
  float: left;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  margin: 0;
}
.page-button {
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  height: 30px;
}
.page-button:hover {
  background-color: #326891;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.fas.fa-bars {
  float: left;
  margin-left: 1%;
}
.fas.fa-search {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.foot-button {
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  width: 50%;
}
.footer p {
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 13px;
}
.icons {
  float: right;
}
.icons * {
  font-size: 20px;
  margin: 0px 8px;
}
.logo {
  float: none;
  left: 42%;
  position: absolute;
  }
.main {
  margin-top: 40px;
  max-width: 700px;
  text-align: left;  
}
.meta-data {
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
}
.meta-data p:nth-child(1) {
  padding: 10px 0;
  font-weight: 700;
  font-size: 15px;
} 
.meta-data span:nth-child(2) {
  padding: 10px 0;
  font-weight: 200;
  font-size: 12px;
  color: #333;
}
.navbar {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  height: 32px;
  margin-top: -2px;
  padding: 8px 0 3px 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
}
/* Grabs nav-button "LOG IN" */
.nav-button:first-of-type {
  float: right;
  margin-right: 1.5%;
}
/* Grabs nav-button "SUBSCRIBE NOW" */
.nav-button:last-of-type {
  margin-right: 0.5%;
}
.nav-button {
  float: right;
}
.side-box {
    float: right;
    height: 500px;
    width: 220px;
    top: 45%;
    position: relative;
    right: 10%;
}
.small {
  height: 73%;
  width: auto;
}
.small-box {
    display: inline;
    float: left;
    height: 80px;
    margin-bottom: 15px;
}
.small-box img {
    width: 80px;
}
.small-box h3 {
    width: 124px;
    font-size: 13.5px;
    font-weight: 300;
    margin: 0 0 0 8px;
}
.subscribe{
    text-align: center;
    font-weight: 700;
    line-height: 25px;
    margin: 40px 0;
}
.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 34px;
  font-style: italic;
}
.title-img {
  max-width: 70%;
  padding-top: 20px;

}
.title-img img {
  width: 100%;
  height: auto;
}
